<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/">Home</a>
        <ul class="menu menu-horizontal">
            <li><a class="<%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets">View Collection</a></li>
            <li><a class="<%= (page == "/about") ? 'active' : '' %>" href="/about">About</a></li>
            <!-- Add other menu items as needed -->
        </ul>
    </div>
    <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
            <li><a class="<%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets">View Collection</a></li>
            <li><a class="<%= (page == "/about") ? 'active' : '' %>" href="/about">About</a></li>
            <!-- Add other menu items as needed -->
        </ul>
    </div>
</div>
