<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>404 - Page Not Found</title>
</head>

<body>
    <%- include('partials/navbar', { page: '' }) %>
    
    <div class="container mx-auto">
        <div class="hero-content text-center py-12">
            <h1 class="text-4xl font-bold">404 - Page Not Found</h1>
            <p class="mt-4 text-lg"><%= message %></p>
            <a href="/" class="btn btn-primary mt-4">Go Back Home</a>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // JavaScript to handle the dropdown
            const dropdownSummary = document.querySelector('.dropdown summary');
            const dropdownContent = document.querySelector('.dropdown-content');
            
            if (dropdownSummary && dropdownContent) {
                dropdownSummary.addEventListener('click', function() {
                    dropdownContent.classList.toggle('hidden');
                });
            }
        });
    </script>
</body>

</html>
